<!DOCTYPE html>
<html lang="en">
<body>
<h3 style="margin-left:2.5em"> <a href='/CPA'>• CPA Students </a> </h3>
<h3 style="margin-left:2.5em"> <a href='/allStudents'>• All Students </a> </h3>
<h3 style="margin-left:2.5em"> <a href='/addStudent'>• Add A New Student </a> </h3>
<h3 style="margin-left:2.5em">• Note: Locate specific student by student Id, e.g., </h3>
<h3 style="margin-left:2.5em">  http://localhost:8080/student/3</h3>
<h3 style="margin-left:2.5em"> <a href='/highGPA'>• Highest GPA </a> </h3>
<h3 style="margin-left:2.5em"> <a href='/home'>• Home </a> </h3>
<br>
<hr />
<div class="container">
        {{{body}}}
</div>
<hr />
<br>
<h2> Student Honour Pledge: </h2>
<p>I acknowledge the College's academic integrity policy - and my own integrity - remain in effect whether my work is</p>
<p>done remotely or onsite. Any test or assignment is an act of trust between me and my instructor, and especially with</p>
<p>my classmates... even when no one is watching. I declare I will not break that trust.</p><br>
<p style="background-color: yellow;">Name: Zijun Li</p>
<p style="background-color: yellow;">Student Number: 170055214</p>



</body>
</html>