<div class="container">
  <div class="row">
    <section class="main col-md-9">
      <article>
        <p>Results will be displayed here.</p>
        <h2>Have fun in Test 5!</h2>
      </article>
    </section>
  </div>
</div>