<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>Student Info</h2>
        <p>Student ID: {{student.studId}}</p>
        <p>Name: {{student.name}}</p>
        <p>Program: {{student.program}}</p>
        <p>GPA: {{student.gpa}}</p>
    </div>
  </div>
</div>